<div class= "about-brillbooks">
  <h1>What is BrillBOOKS? </h1>
  <br/>
    <h5> BrillBOOKS is a complete list of novels that I've enjoyed reading.</h5> <br/>
    <h5> From sci-fi to self-helps, you'll find an eclectic range of genres to choose from. </h5> <br/>
    <h5> If you're like me and love getting lost in books, then this is a nice site to peruse.</h5> <br/>
    <h5> <b>Be on the lookout for new features, including a:</b> genre section, random book generator, add a book button.


  <br/><br/>  <br/><br/>

  <h1> Who Am I?</h1>
  <br/>
    <h5> <b>Linda (noun):</b> an extroverted, data-driven web developer, with an unhealthy obsession w/ avocado boba, haribo peaches, and anime.</h5><br/>
    <h5> Linda is a web developer and former marketer. When she isn't coding, you can find her exploring Brooklyn, perfecting her deadlifts at the gym, or at a bottomless brunch near you.</h5>
</div>