<h1> What is BrillBOOKS? </h1>

<p> BrillBOOKS is a complete list of novels that I've read and love.</p>
<p> From sci-fi to self-helps, you'll find a plethora of genres to get lost in. </p>

<h3>Want to Share a Book You're Reading?</h3>
<p> Add a Book Here</p>


<h2> Who Am I?</h2>
<p> Linda (noun): an extroverted, data-driven web developer, with an unhealthy obsession w/ avocado boba, haribo peaches, and anime.</p>

<p> Linda is a web developer and former marketer. When she isn't coding, you can find her exploring Brooklyn, perfecting her deadlifts at the gym, or at a bottomless brunch near you.</p>